body{
    margin-left: -10px;  margin-top: -10px;
    margin-right: -10px;
}
#navigation{

}
#img-banner{
    margin-left: -10px;
    margin-right: -100px;
    width:80%;
    height: 200px;
}
#aside-left{
width: 20%;
}
#aside-right{

}
#article-main-content{

}